.blogs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 30px;

    .blog {
        border: 1px solid grey;
        max-width: 290px;
        min-width: 290px;
        text-align: left !important;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;

        .blog-title {
            font-weight: 500;
            display: flex;
        }

        .blog-body {
            font-size: 14px;
            margin-bottom: 10px;
        }

        .btn {
            text-decoration: none;
            color: white;
        }
    }
}